<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Wiki</title>
    <link rel="stylesheet" href="css/site.css" />
  </head>

  <body>
    <div>
      <aside>
        <div class="center">
          <img class="logo" src="img/logo.png" alt="logo" />
        </div>

        <nav>
          <a href="/">Main Page</a>
          <a href="/allArticles">All Articles</a>
          <form>
            <input type="text" />
            <input type="submit" value="Search" />
          </form>
          <a href="/createArticle">Create New Article</a>
        </nav>
      </aside>
      <div id="container">
        <header>
          {{#unless loggedIn}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
          {{/unless}}
          {{#if loggedIn}}
            <span>Welcome, {{username}}!</span>
            <a href="/logout">[Logout]</a>
          {{/if}}
        </header>

        <main>
          <h1>Welcome to KingUni Wiki!</h1>
          <section id="featured">
            <h2>Latests articles</h2>
            {{#each articles}}
              <article>
                <h3>{{title}}</h3>
                <p>
                  {{{firstFifty content}}}&hellip;
                </p>
                <div class="controls">
                  <a href="/article/{{_id}}">Read more</a>
                </div>
              </article>
            {{/each}}
          </section>
        </main>
        <footer>
          KingUni Wiki &copy; 2021
        </footer>
      </div>
    </div>
  </body>

</html>
{{!-- <main>
        {{#with cube}}
          <h1>{{name}}</h1>
          <img class="cube" src={{imageUrl}} />
          <div class="details">
            <p><span>Description:</span>{{description}}</p>
            <p><span>Difficulty level:</span>{{difficultyLevel}}</p>

            <a class="btn" href="/">Back</a>
            <a class="btn" href="/attach/accessory/{{_id}}">Attach Accessory</a>
          </div>
        {{/with}}
        <h2>Accessories</h2>
        <div class="accessories">
          {{#each attachedArray}}
            <div class="accessory">
              <img src="{{imageUrl}}" alt="stickerName" />
              <h3>{{name}}</h3>
              <p>{{description}}</p>
            </div>
          {{/each}}
          {{#unless attachedArray}}
            <h3 class="italic">This cube has no accessories yet...</h3>
          {{/unless}}
        </div>
         {{#each cubes}}
          <div class="cube">
            <img class="cube" src="{{imageUrl}}" />
            <p class="name">{{name}}</p>
            <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
            <a class="btn" href="/details/{{_id}}">Details</a>
          </div>
        {{/each}} --}}